.value-element .value-input {
  display: flex;
  justify-content: space-between;
}

.value-input input {
  width: 50px;
  margin-right: 0.5rem;
}

.value-input .select-container {
  width: 50px;
}

.value-input .options-list {
  width: 50px;
}

/* For select fields in combination with a value input */
.value-input .select-container {
  grid-template-columns: 10fr 5fr;
  justify-content: space-around;
}

.value-input .options-list {
  position: absolute;
  left: -3px;
  top: 7px;
  background: var(--mid-grey);
  color: var(--white);
  border-radius: 3px;
}
