@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* :root {
  --accent: #0066cc;
  --light-accent: #d0b691;
  --light-grey: #e8e7ed;
  --mid-grey: #8e8990;
  --dark-grey: #34323d;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  color: var(--dark-grey);
} */

/*************************************************
Forms
*************************************************/

.button-bar {
  border-top: 2px solid var(--dark-grey);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}
