.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

# Server
source/server/cmd/main
source/server/files
source/server/files_tmp
**/*.env
wegonice-backend

# Frontend
node_modules

# Container
**/volumes

# Scripts
start_weGoNice.sh

