.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

# Server
source/server/cmd/main
source/server/files
source/server/files_tmp
**/*.env
wegonice-backend-*

# Frontend
node_modules

# Deployment
**/volumes
deployment/docker-compose.yml
deployment/init-mongo.js


# Scripts
start_weGoNice.sh

