.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

# Server
source/server/cmd/main
source/server/files
**/*.env

# Frontend
node_modules

# Container
volumes/production
volumes/development

# Scripts
start_weGoNice.sh

