.prepstep-input {
  display: flex;
  align-items: center;
  margin: 0.3rem 0;
}

.prepstep-input input {
  width: 260px;
}

.prepstep-input > * {
  margin-right: 0.5rem;
}

.prepstep-input .value-input {
  display: flex;
}

.prepstep-input .value-input > *:first-child {
  margin-right: 0.5rem;
}

.prepstep-input .value-input input {
  width: 50px;
}

.prepstep-input .value-input .select-container {
  width: 50px;
}

.prepstep-input .value-input .options-list {
  position: absolute;
  left: -6px;
  top: 7px;
  background: var(--mid-grey);
  color: var(--white);
  border-radius: 3px;
  width: 50px;
}

.prepstep-control {
  display: flex;
}

.prepstep-control .icon {
  padding: 0;
}
