.recipe-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--dark-grey);
}

.filter-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filter-section h3 {
  margin-right: 1rem;
}

.filter-tags {
  display: flex;
  align-items: center;
}

.filter-tags div:not(:last-child) {
  margin-right: 0.3rem;
}

.search-section {
  display: flex;
  align-items: center;
}

.content-section {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.5rem;
}
