.recipes-content-section {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.5rem;
}

.category-tag {
  position: absolute;
  text-align: center;
  right: 0;
  color: var(--light-accent);
  padding: 0.3rem 0.5rem;
  border-radius: 3px;
  bottom: 0;
}

.info-line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.info-icon {
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .recipes-content-section {
    grid-template-columns: repeat(1, 1fr);
  }
}
