.options-container {
  position: absolute;
  top: 36px;
  left: 50px;
  background: var(--dark-grey);
  width: 100px;
  color: var(--white);
  border-radius: 3px;
}

.options-container li {
  padding: 0.3rem 1rem;
}

.options-container li:hover {
  background: var(--mid-grey);
  cursor: pointer;
}
