.form-element textarea {
  width: 270px;
}

.form-element textarea:focus {
  border: 1px solid var(--light-accent);
}

textarea {
  all: unset;
}

textarea {
  resize: vertical;
  padding: 0.3rem;
  border: 1px solid var(--mid-grey);
  border-radius: 3px;
  transition: 0.5s;
  background: var(--white);
}

textarea:hover {
  border: 1px solid var(--light-accent);
}

textarea:focus {
  outline: none;
  border: 1px solid var(--light-accent);
}

textarea::placeholder {
  color: var(--mid-grey);
  opacity: 1;
}

textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
