:root {
  --accent: #0066cc;
  --light-accent: #d0b691;
  --light-grey: #e8e7ed;
  --mid-grey: #8e8990;
  --dark-grey: #34323d;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  color: var(--dark-grey);
}

.recipe-card {
  position: relative;
  background: var(--light-grey);
  color: var(--dark-grey);
  height: 150px;
  padding: 0.5rem;
  /* border: 1px solid var(--dark-grey); */
  border-radius: 3px;
  transition: 0.5s;
  min-width: 300px;
}

.recipe-card:hover {
  cursor: pointer;
  background: var(--mid-grey);
  color: var(--white);
}

.category-tag {
  position: absolute;
  text-align: center;
  right: 0;
  color: var(--light-accent);
  font-size: 0.8rem;
  padding: 0.3rem 0.5rem;
  border-radius: 3px;
  bottom: 0;
}
