.references-content-section {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0.5rem;
}

.modify-box {
  position: absolute;
  right: 0;
  top: 0;
}

@media only screen and (min-width: 630px) {
  .references-content-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 930px) {
  .references-content-section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1230px) {
  .references-content-section {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 1530px) {
  .references-content-section {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (min-width: 1830px) {
  .references-content-section {
    grid-template-columns: repeat(6, 1fr);
  }
}
