.content-section {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.5rem;
}

.icon-box {
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: left;
}

.modify-box {
  position: absolute;
  right: 0;
  top: 0;
}
