@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --accent: #0066cc;
  --light-accent: #d0b691;
  --light-grey: #e8e7ed;
  --mid-grey: #8e8990;
  --dark-grey: #34323d;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  color: var(--dark-grey);
}

.app {
  position: relative;
  min-height: 100vh;
  margin: 0.5rem;
}

/*************************************************
Tags
*************************************************/
ul {
  list-style: none;
}

/*************************************************
Froms
*************************************************/
input {
  all: unset;
}

input {
  padding: 0.3rem;
  border: 1px solid var(--light-grey);
  border-radius: 3px;
  transition: 0.5s;
  background: var(--light-grey);
}

input:hover {
  border: 1px solid var(--light-accent);
}

input:focus {
  outline: none;
  border: 1px solid var(--light-accent);
}

input::placeholder {
  color: var(--mid-grey);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* input:focus::placeholder {
  color: var(--light-accent);
} */

/*************************************************
Buttons
*************************************************/
.btn {
  padding: 0.5rem;
  margin: 1rem;
  border: 1px solid var(--black);
  border-radius: 3px;
  transition: 0.5s;
}

.btn:hover {
  background: var(--accent);
  color: var(--white);
  cursor: pointer;
}

/*************************************************
Forms
*************************************************/

.form-element {
  width: 300px;
}

.form-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.form-element input {
  width: 250px;
}

.form-element input:focus {
  border: 1px solid var(--light-accent);
}

.form-element label {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.input-element {
}

.value-element .value-input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
}

.value-input input {
  width: 40px;
}

.value-input .select-container {
  padding: 0.3rem;
  border: 1px solid var(--light-grey);
  border-radius: 3px;
  transition: 0.5s;
  background: var(--light-grey);
  display: flex;
  justify-content: space-between;
}

.select-element .select-container {
  padding: 0.3rem;
  border: 1px solid var(--light-grey);
  border-radius: 3px;
  transition: 0.5s;
  background: var(--light-grey);
  width: 250px;
  display: grid;
  grid-template-columns: 10fr 1fr;
  justify-content: space-between;
}

.select-element .select-container .placeholder {
  color: var(--mid-grey);
}

.select-container:hover {
  cursor: pointer;
  border: 1px solid var(--light-accent);
}

.options-container {
  position: relative;
}

.options-list {
  position: absolute;
  left: -49px;
  top: 25px;
  width: 53px;
  background: var(--mid-grey);
  color: var(--white);
}

.select-element .options-list {
  position: absolute;
  left: -6px;
  top: 5px;
  width: 250px;
  background: var(--mid-grey);
  color: var(--white);
}

.options-list li {
  padding: 0.3rem;
  transition: 0.1s;
}

.options-container li:hover {
  color: var(--light-accent);
  background: var(--dark-grey);
  cursor: pointer;
}
