/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

:root {
  --accent: #0066cc;
  --light-accent: #d0b691;
  --light-grey: #e8e7ed;
  --mid-grey: #8e8990;
  --dark-grey: #34323d;
  --white: #f3f3f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  color: var(--dark-grey);
  background: #f3f3f3;
}

.app {
  position: relative;
  min-height: 100vh;
  margin: 0.5rem;
}

/*************************************************
Tags
*************************************************/
ul {
  list-style: none;
}
