@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --accent: #0066cc;
  --light-accent: #d0b691;
  --light-grey: #e8e7ed;
  --mid-grey: #8e8990;
  --dark-grey: #34323d;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  color: var(--dark-grey);
}

.app {
  position: relative;
  min-height: 100vh;
  margin: 0.5rem;
}

/*************************************************
Tags
*************************************************/
ul {
  list-style: none;
}

/*************************************************
Froms
*************************************************/

/* input:focus::placeholder {
  color: var(--light-accent);
} */

/*************************************************
Buttons
*************************************************/
.btn {
  padding: 0.5rem;
  margin: 1rem;
  border: 1px solid var(--black);
  border-radius: 3px;
  transition: 0.5s;
}

.btn:hover {
  background: var(--accent);
  color: var(--white);
  cursor: pointer;
}
