.options-bar {
  display: grid;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--dark-grey);
}

.filter-section {
  grid-row: 2/3;
  margin-right: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filter-section h3 {
  margin-right: 1rem;
}

.filter-tags {
  display: flex;
  align-items: center;
}

.filter-tags div:not(:last-child) {
  margin-right: 0.3rem;
}

.search-section {
  width: 100vw;
  display: grid;
  align-items: center;
  grid-template-columns: 5fr 60px;
}

.search-input input {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .options-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--dark-grey);
  }

  .search-section {
    max-width: 400px;
  }
}
