.options-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--dark-grey);
}

.filter-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filter-section h3 {
  margin-right: 1rem;
}

.filter-tags {
  display: flex;
  align-items: center;
}

.filter-tags div:not(:last-child) {
  margin-right: 0.3rem;
}

.search-section {
  display: flex;
  align-items: center;
}
