@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.form-element {
  width: 300px;
}

.form-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.form-element input {
  width: 250px;
}

.form-element input:focus {
  border: 1px solid var(--light-accent);
}

.form-element label {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

input {
  all: unset;
}

input {
  padding: 0.3rem;
  border: 1px solid var(--light-grey);
  border-radius: 3px;
  transition: 0.5s;
  background: var(--light-grey);
}

input:hover {
  border: 1px solid var(--light-accent);
}

input:focus {
  outline: none;
  border: 1px solid var(--light-accent);
}

input::placeholder {
  color: var(--mid-grey);
  opacity: 1;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
