nav {
  /* display: grid;
  grid-template-columns: 1fr 7fr; */
  display: flex;
}

nav .apps-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-center;
  align-items: center;
  height: 60px;
  border-bottom: 2px solid var(--dark-grey);
  width: 100%;
}
