$main-bg-color: #ddd;
$view-bg-color: #aaa;
$card-color: #04293a;
$bg-color-light: #041c32;
$bg-color-dark: #030f20;

$accent-color: #ecb365;
$accent-hover-color: #b98032;

$shadow-color: #fff;

// Text
$text-color: #fff;
$text-color-dark: $bg-color-dark;
