// $main-bg-color: #ddd;
// $card-color: #04293a;
// $card-color: #010409;
$card-color: #030f20;

// $bg-color-light: #041c32;

$bg-dark-modal: #010409bb;

// $bg-color-dark: #030f20;
$bg-color-dark: #010409;
$bg-color-mid: #0c1017;
$bg-color-light: #7f878e;
$bg-color-lighter: #8f989f;

$accent-color: #ecb365;
$accent-hover-color: #b98032;

$shadow-color: #fff;

// Text
$text-color: #fff;
$text-color-dark: $bg-color-dark;

// Notification
$bg-color-notification: #0c1017ee;
$border-color-notification: #010409ee;
