.drop-zone {
  width: 100%;
  height: 1.5rem;
  background-color: $bg-color-mid;
  margin-bottom: 0.5rem;
  transition: background-color 0.2s;

  &.drop-zone-active {
    transition: background-color 0.2s;
    background-color: $accent-color;
  }
}
