.form-frame {
  margin: 1rem 0;
  padding-top: 1rem;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-row-gap: 0.5rem;
  background: var(--light-grey);
  border-radius: 3px;
  width: 800px;
}

.form-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-element {
  width: 300px;
}

.form-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.form-element input {
  width: 250px;
}

.form-element input:focus {
  border: 1px solid var(--light-accent);
}

.form-element label {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
